<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ITJCC05-Themis</display-name>
	<filter>
		<description>
		</description>
		<display-name>Authentication</display-name>
		<filter-name>Authentication</filter-name>
		<filter-class>Filter.Authentication</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Authentication</filter-name>
		<url-pattern>/Homepage</url-pattern>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Homepage</display-name>
		<servlet-name>Homepage</servlet-name>
		<servlet-class>CNA.Homepage</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CNA</display-name>
		<servlet-name>CNA</servlet-name>
		<servlet-class>CNA.CNA</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>receiveSLA</display-name>
		<servlet-name>receiveSLA</servlet-name>
		<servlet-class>CNA.receiveSLA</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Fromapp</display-name>
		<servlet-name>Fromapp</servlet-name>
		<servlet-class>CNA.Fromapp</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>usersla</display-name>
		<servlet-name>usersla</servlet-name>
		<servlet-class>CNA.usersla</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>billing</display-name>
		<servlet-name>billing</servlet-name>
		<servlet-class>CNA.billing</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>monitorcopy</display-name>
		<servlet-name>monitorcopy</servlet-name>
		<servlet-class>Monitor.monitorcopy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Homepage</servlet-name>
		<url-pattern>/Homepage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CNA</servlet-name>
		<url-pattern>/CNA</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>receiveSLA</servlet-name>
		<url-pattern>/receiveSLA</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Fromapp</servlet-name>
		<url-pattern>/Fromapp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>usersla</servlet-name>
		<url-pattern>/usersla</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>billing</servlet-name>
		<url-pattern>/billing</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>monitorcopy</servlet-name>
		<url-pattern>/monitorcopy</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Home.jsp</welcome-file>
		
	</welcome-file-list>
	<context-param>
	<param-name>uploadedpath</param-name>
	<param-value>D:\projectfinal\ITJCC05\CODING\Coding\ITJCC05-Themis\WebContent\SLA</param-value>
	</context-param>
	<context-param>
	<param-name>uploadedpath1</param-name>
	<param-value>D:\projectfinal\ITJCC05\CODING\Coding\ITJCC05-Themis\WebContent\USLA</param-value>
	</context-param>
	
	<context-param>
		<param-name>Monitorpath</param-name>
		<param-value>D:\projectfinal\ITJCC05\CODING\Coding\ITJCC05-Themis\WebContent\Monitor</param-value>
	</context-param>
	<context-param>
		<param-name>Billpath</param-name>
		<param-value>D:\projectfinal\ITJCC05\CODING\Coding\ITJCC05-Themis\WebContent\BILL</param-value>
	</context-param>
</web-app>
